extends layout

block content
  div.text-center
    div.row
      img.tarrow(src="images/tarrow-crop.svg",width='250px')
    h1= title

    div.row
      div.center-block
        p See where your congressional candidates stand on Trump and let them know what you think!
        p Enter your address look up your ballot.

        form(action='/lookup',method='post')
          div(data-role='fieldcontain')
            fieldset(data-role='controlgroup')
              label(for='address') Address:&nbsp;
                 input(id='address',type='text',value='',placeholder='123 Main St. Boston, MA 02138',name='address')
          input(type='submit',value='Look Up',data-transition='fade', data-theme='c')
    br
    div.row
      a.twitter-timeline(href='https://twitter.com/hashtag/whoswithtrump', data-widget-id='790034887650775041') #WhosWithTrump Tweets