doctype html
html
  head
    title= title
  
    meta(property='og:title', content="Who's with Trump?")
    meta(property='og:description', content='See where the candidates on your ballot stand on Trump.')
    meta(property='fb:app_id', content='1550896891603033')

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src="/javascripts/google-analytics.js")
    script(src="/javascripts/twitter.js")
    script(src="/javascripts/fb-sdk.js")

  body
    block content
