body {
   /* fallback */
  background-color: #3B9CFF;
  background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3B9CFF), to(#013B75));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #013B75, #3B9CFF);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #013B75, #3B9CFF);

  /* IE 10 */
  background: -ms-linear-gradient(top, #013B75, #3B9CFF);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #013B75, #3B9CFF);
  
 /* background:#005fbf;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position:center 90%;
  background-attachment: fixed;*/
  padding: 50px;
  font: 14px;
  font-family: 'Lato', sans-serif;
  color: white;
}

a {
  color: #89CDF5;
}

a:hover {
  color: #44CFCB;
}

input {
  color:#333333;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #224870;
}

.tarrow {
  size: 200px;
}